<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Page Title Goes Here</title>
    <meta name="description" content="Page Description Goes Here">
  </head>
  <body>
  <header>
       <img src="index.svg" alt="Company Logo" height="50%" width="50%"> 
       <h1>Wrench Automotive</h1>
    </header>
    <div class="nav">
       <ul>
       	<li><a href="index.html">Home</a></li>
       	<li><a href="about.html">About</a></li>
       	<li><a href="services.html">Services</a></li>
       	<li>Tips</li>
       	<li>Promotions</li>
       </ul>
    </div>
      <h1>About</h1>
      <h2>Testimonials</h2>
      <p>"Best in town! Fast Service always with a smile!</p>
      <p>Feb 25, 2015 by Anonymous<br>"Corvette Repair<br>
I recently had the team at Wrench Auto perform an engine replacement on my 1973 Corvette...not a minor repair to 
say the least. Todd, Brian, and the entire team were extremely professional, a pleasure to work with, and they did a 
fantastic job installing the new Jasper high performance engine. I would highly recommend Wrench Auto to anyone. "</p>
      <h2>Staff</h2>
       <ul>
        <li><b>Dave Robinson</b><br>
			Owner<br>
			Dave started Wrench Automotive with his father, John Robinson, and manages this thriving repair shop today.</li>
        <li><b>John Victor</b><br>
			Lead Mechanic<br>
			John joined Wrench in 1998 and now leads all repairs.</li>
        <li><b>Sally Schultz</b><br>
			Customer Service Coordinator<br>
			Sally manages all customer service and appointments, as well as the customer service team.  Our dedicated team is 
			looking forward to serving you!</li>
       </ul>
      <link href="style.css" rel="stylesheet" type="text/css" media="screen" /> <!-- Add your stylesheet here, before the closing HTML tag -->
  </body>
</html>