<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 <title>Wrench Automotive</title>
     <meta name="description" content="Page Description Goes Here">
  </head>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
<body>
 <div id="wrapper">
  <img src="index.svg" alt="Company Logo" class="barlogo"/>
  <nav>
    <ul>
      <li><a href="index.html">Home</a></li>
      <li><a href="about.html">About</a></li>
      <li><a href="services.html">Services</a></li>
      <li><a href="index.html#schedule">Schedule</a></li>
    </ul>
  </nav>
</div>


<section class="quote">
  <header class="containerabout">  
       <p class="quote">Best in town! Service with a smile.</p>
        </header>
</section>

<main role="main">

<body>
	<div class= "containerleft" style= "clear: left">    
      <h1>Our Commitment to Quality</h1>
      <p>Wrench Automotive opened its doors in 1996, welcoming in loyal customers. We are
      a family-owned and operated business which provides a wide range of car care services. 
      From regular maintenance to major repairs, we have you covered.</p>
      <p> We understand that comfort and convenience are important to you. We provide towing, 
      rental cars, flexible pickup and delivery times, as well as free coffee and WiFi in our waiting area.
      We assure you that we can accomodate all of your needs.</p>
	</div>
<blockquote class= "containerright" cite="Karl Brzozowski"><b>
      "Todd, Brian, and the entire team were extremely professional, a pleasure to work with, and they did a 
fantastic job installing the new Jasper high performance engine in my Corvette. I would highly recommend Wrench Automotive to anyone."
   </b>   
   <cite>Karl Brzozowski</cite>
    </blockquote>
   
   
<!--Staff-->       
      <div style="clear: left">
      <h2>Staff</h2>
<section role="personinfo">
    <dl>
      <div class="name">
      <img src="dave.jpg" alt="Dave" class="faces"/>
      <dt class="redone">Dave Robinson</dt>
      <dd class="red2"><b>Owner</b></dd>
      <dd class="red2">Dave started Wrench Automotive with his father, John Robinson, and manages this thriving repair shop today.</dd>
      </div>
      <div class="name">
      <img src="john.jpg" alt="John" class="faces"/>
      <dt class="redone">John Victor</dt>
      <dd class="red2"><b>Lead Mechanic</b></dd>
      <dd class="red2">John joined Wrench in 1998 and now leads all repairs.</dd>
      </div>
      <div class="name">
      <img src="sally.jpg" alt="Sally" class="faces"/>
      <dt class="redone">Sally Schultz</dt>
      <dd class="red2"><b>Customer Service Coordinator</b></dd>
      <dd class="red2">Sally manages all customer service and appointments, as well as the customer service team. </dd>
      </div>
    </section> 
    </div>
       </main>
       
     <!--Footer-->
       <footer role="content info" style= "clear: left">
    <dl>
      <div class="contact" style="padding-top: 1em;">
      <dt>Location</dt>
      <dd>13468 E. Main Street Kent, OH 44240</dd>
      </div>
      <div class="contact">
      <dt>Phone</dt>
      <dd>330-672-3031</dd>
      </div>
      <div class="contact">
      <dt>Hours of Operation</dt>
      <dd>Monday-Friday 8am-6pm</dd>
      </div>
    </footer> 
      <link href="style.css" rel="stylesheet" type="text/css" media="screen" /> <!-- Add your stylesheet here, before the closing HTML tag -->
  </body>
</html>