<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Page Title Goes Here</title>
    <meta name="description" content="Page Description Goes Here">
  </head>
  <body>
	 <header role="banner">
	   <img class="logo" src="index.svg" alt="Company Logo" height="50%" width="50%"> 
    </header>
    <nav class="fixed-nav-bar" role="navigation">
       <ul>
       	<li><a href="index.html">Home</a></li>
       	<li><a href="about.html">About</a></li>
       	<li><a href="services.html">Services</a></li>
       	<li>Tips</li>
       	<li>Promotions</li>
       </ul>
    </nav>
    <main role="main">
    <p>We will get you back on the road quickly!</p>
    <h2 style="color:green">Our Services</h2>
     <ul>
     	<li>Oil and Oil Filter Service</li>
        <li>Cooling System Service</li>
        <li>Brake Service</li>
        <li>Tire Service</li>
      </ul>
     <h2>Tips</h2>   
      <ul>
     	<li>How often should I rotate my tires?</li>
        <li>What should I do if my car starts to overheat?</li>
        <li>When should I get my oil changed?</li>
        <li>Where can I schedule an appointment?</li>
      </ul>	
     <h2>Promotions</h2>
     	<p>Our skilled service members offer monthly promotions to suit your needs!</p> 
     <h2>Blog</h2>
     	<p>11-30-2015</p>
     	<p>We would like to announce the retirement of our receptionist, Peggi Andersen. She has been a member of our company since 1992.  She would like to thank all the nice people she talked to who brought in their cars so that she could get paid.  She looks forward to retirement and spending time with her grandchildren.</p>	
     	<p>11-23-2015</p>
     	<p>Happy birthday Dave!</p>
     	<p>11-20-2015</p>
     	<p>Check out this article about vintage mustangs! A customer shared with with us and new we need to share it with you!</p>
      </main>
      <footer role="content info">
      <h2>Make an Appointment</h2>
      </footer>
      <link href="style.css" rel="stylesheet" type="text/css" media="screen" /> <!-- Add your stylesheet here, before the closing HTML tag -->
  </body>
</html>