<!DOCTYPE html>

<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 <title>Wrench Automotive</title>    <meta name="description" content="Page Description Goes Here">
  </head>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
<body>
	<!--Nav bar-->
	<div id="wrapper">
	  <img src="index.svg" alt="Company Logo" class="barlogo"/>
  <nav>
    <ul>
      <li><a href="index.html">Home</a></li>
      <li><a href="about.html">About</a></li>
      <li><a href="services.html">Services</a></li>
      <li><a href="#">Schedule Appointment</a></li>
    </ul>
  </nav>
  
</div>
    <main role="main">
    <p class="quote">We will get you back on the road quickly!</p>
    
    <!--About--> 
	<h1>About Us</h1>
	<p>No one wants their car to sit in a shop for days or weeks. We employ only ASE Certified
 	Automotive Technicians so you can be sure your vehicle is being repaired by a trained technician. 
	Wrench Automotive strives to get your car fixed right, as quickly as it can be done and at a fair price. 
	We provide a written estimate to each customer before repair work begins. Wrench has many happy repeat customers. 
	We think that you will enjoy the Wrench service difference.</p>

<!--Services--> 
	<h1>Our Services</h1>

	<h3>Maintenance</h3>
  	<p>some nice stuff about this type of thing.</p>   
	<h3>Repairs</h3>
  	<p>some nice stuff about this type of thing.</p>
	<h3>Tire Service and Sales</h3>
  	<p>Improve your vehicle’s handling, increase tire life and drive more safely by checking 
  	your tires every month to ensure that they are inflated with the right amount of air pressure. 
  	We offer a wide range of tires for your vehicle. Let our professionals help you find, balance 
  	and mount the right tires for your car.</p>
     <h1>Tips</h1>   
      <ul>
     	<li>How often should I rotate my tires?</li>
        <li>What should I do if my car starts to overheat?</li>
        <li>When should I get my oil changed?</li>
        <li>Where can I schedule an appointment?</li>
      </ul>	
     <h1>Promotions</h1>
     	<p>Our skilled service members offer monthly promotions to suit your needs!</p> 
     <h1>Blog</h1>
     	<p><b>11.30.2015</b></p>
     	<p>We would like to announce the retirement of our receptionist, Peggi Andersen. She has been a member of our company since 1992.  She would like to thank all the nice people she talked to who brought in their cars so that she could get paid.  She looks forward to retirement and spending time with her grandchildren.</p>	
     	<p><b>11.23.2015,</b></p>
     	<p>Happy birthday Dave!</p>
     	<p><b>11.20.2015</b></p>
     	<p>Check out this article about vintage mustangs! A customer shared with with us and now we need to share it with you!</p>

<!--Appointment Form-->      
<div class="appointment schedule">
	<h2>Schedule Your Appointment</h2>
	<form>
	<input type="text" class="" name="firstname" value="First Name"><br>
	<input type="text" class="" name="lastname" value="Last Name"><br>
	<input type="text" class="" name="email" value="Email"><br>
	<input type="text" class="" name="phone" value="Phone"><br>
	<input type="text" class="" name="date" value="Date of Appointment"><br>
	<input type="text" class="" name="time" value="Time"><br>
	<textarea class="" rows="6">Tell us about your vehicle and the types of problems it is having.</textarea><br>
	<p class="submit-btn"><input type="submit" value="Submit"></p>
</form>
	</div>
</main>

<!--Footer-->
      <footer role="content info"
    <dl>
      <div class="contact">
      <dt><b>Location</b></dt>
      <dd>13468 E. Main Street Kent, OH 44240</dd>
      </div>
      <div class="contact">
      <dt><b>Phone</b></dt>
      <dd>330-672-3031</dd>
      </div>
      <div class="contact">
      <dt><b>Hours of Operation</b></dt>
      <dd>Monday-Friday 8am-6pm</dd>
      </div>
    </footer> 
      <link href="style.css" rel="stylesheet" type="text/css" media="screen" /> <!-- Add your stylesheet here, before the closing HTML tag -->
  </body>
</html>