<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Page Title Goes Here</title>
    <meta name="description" content="Page Description Goes Here">
  </head>
  <body>
       <header role="banner">
      <img src="index.svg" alt="Company Logo" height="50%" width="50%"> 
    </header>
    <nav class="fixed-nav-bar" role="navigation">
       <ul>
       	<li><a href="index.html">Home</a></li>
       	<li><a href="about.html">About</a></li>
       	<li><a href="services.html">Services</a></li>
       	<li>Tips</li>
       	<li>Promotions</li>
       </ul>
    </nav>
    <h2>Our Services</h2>
    <p>Since 1997 our ASE Certified, factory trained technicians have been serving customers just like you. With over 45 years of combined experience our NAPA Auto Care Center knows what you need. We specializing in Jasper Replacement Engines, Transmissions and Differentials Replacement and Repair. We use electrical diagnostics and state of the art equipment.</p>
	<ul>
 	  <li>Computer Diagnostics</li>
      <li>Diesel Service</li>
      <li>Fleet Service</li>
      <li>And much more!</li>
   </ul>
   <div class="accordion horizontal">
   	<section>
        <h2>Oil and Oil Filter Service</h2>
        <p>Experts recommend changing the oil and oil filter in your vehicle every 3 months or 3,000 miles, whichever is first. It’s an essential way to maximize engine protection.</p>
    </section>
    <section>
        <h2>Engine Oil</h2>
        <p>Engine oil is what lubricates a car’s engine, allowing it to run smoothly and last longer. Car owners must maintain their cars’ engines by changing the oil and using the oil appropriate for their cars’ makes and models. </p>
    </section>
    <section>
        <h2>Oil Change</h2>
        <p>An important part of routine car maintenance is changing the oil regularly. f the check engine oil light comes on when you’re driving, this is a strong indication that the car is running low on oil.</p>
    </section>
    <section>
        <h2>Cooling System Service</h2>
        <p>We can flush your vehicle’s cooling system, perform a pressure test and check hoses, caps and connections.</p>
    </section>
    <section>
        <h2>Air Conditioning Service</h2>
        <p>One of our trained air conditioning specialists will inspect your car’s air conditioner, all lines, the evaporator and the compressor for leaks and wear.</p>
    </section>
    <section>
        <h2>Driveline Service</h2>
        <p>We will remove old, worn-out gear oil from the front and rear differential and transfer cases.</p>
    </section>
    <section>
        <h2>Fuel-Air Induction Cleanup</h2>
        <p>Using specialized equipment, our technicians will quickly and effectively clean the intake manifold, ports, intake valves and combustion chamber and install injector cleaning additives in your vehicle’s tank. This service will restore lost power and performance and will reduce harmful exhaust emissions.</p>
    </section>
    <section>
        <h2>Power Steering Flush</h2>
        <p>Our technicians use a powerful cleaner to dissolve gum and varnish in your car’s power steering unit. Next, we will flush old, worn-out, contaminated fluid and install fresh, new fluid fortified with a special antioxidant and anti-wear ingredients to prevent expensive mechanical failure.</p>
    </section>
    <section>
        <h2>Transmission Service</h2>
        <p>Using the latest in state-of-the-art technology, we will install a safe and effective cleaner to suspend harmful varnish and sludge from the transmission valve body, torque converter and lines and install new high-tech fluid with conditioners.</p>
    </section>
    <section>
        <h2>Brake Service</h2>
        <p>By having your brakes inspected twice a year, you can protect yourself and your passengers, and you can save money by catching any problems before they become too costly. Inspecting your brakes twice a year for wear and damage can protect you and your passengers. Additionally, it will help you save money by catching any damage before it becomes too costly.</p>
    </section>
    <section>
        <h2>Tire Service</h2>
        <p>Improve your vehicle’s handling, increase tire life and drive more safely by checking your tires every month to ensure that they are inflated with the right amount of air pressure. We offer a wide range of tires for your vehicle. Let our professionals help you find, balance and mount the right tires for your car.</p>
    </section>
   </div>
    <footer role="content info">
      <h2>Make an Appointment</h2>
      </footer>
      <link href="style.css" rel="stylesheet" type="text/css" media="screen" /> <!-- Add your stylesheet here, before the closing HTML tag -->
  </body>
</html>