@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
body {
<<<<<<< HEAD
  max-width: 10000px;
  border: 0px;
  max-width: 100%;
  border-top: 0px;
  padding-top: 20px;
  font-family: Helvetica, Arial, sans-serif;}

    #wrapper {
      width: 100%;
      position:fixed; 
      top: 0;
      left: 0;}

    nav {
      margin-top: 30px;
      display: table;
      z-index: 2;
      width: 100%;
      height: 40px;}
    
    nav ul {
      display: table-row;}
    
    nav li {
      display: table-cell;
      margin: 0;
      text-align: center;}
@media screen and (max-width: 550px){
    #wrapper {
        font-size:.75em;}}
@media screen and (max-width: 430px){
    #wrapper {
        font-size:.60em;}}
@media screen and (max-width: 414px){
    #wrapper {
        font-size:.50em;}}
    
    nav li a {
      display: block;
      padding: 22px 19px;
      text-decoration: none;
      font-weight: bold;
      font-family: 'Open Sans', sans;
      font-size: 1em;
      color: #FFFFFF;
      background-color: rgb(148, 44, 32);}

    nav li a:hover {
      background-color: rgb(230, 231, 231);
      display: block;
      color: #342F36;}
      
  
h1 {
  font-family: 'Open Sans', sans;
  color: #2E2E2E;}

h1, h2, h3{
color: #342F36;}

main {
  margin-top: 75px;}

.formhead{
  background-color:black;}

p {
	font-family: 'Open Sans', sans;
  	color: #2E2E2E;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
  font-size: .95em;
  line-height: 1.45em;
}
h1 {
	margin: 1em 0 0 0;
	text-align: Left;
}

/***************************
****************************
These are the styles for
the big quote
****************************
***************************/
p.quote {
  text-align: left;
  color: #E7E7E6;
  font-family: "Open Sans";
  font-size: 4em;
  letter-spacing: 0.8px;
  font-weight: 800;
  padding: 120px;
  background: #952A20;
}



