@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
body {
<<<<<<< HEAD
  max-width: 10000px;
  border: 0px;
  max-width: 100%;
  border-top: 0px;
  padding-top: 20px;
  font-family: Helvetica, Arial, sans-serif;}

    #wrapper {
      max-width: 100%;
      position:fixed; 
      top: 0;
      width: 100%;
      left: 0;
      background-color: rgba(148, 44, 32,.98);
      z-index: 100;}
@media screen and (max-width: 664px){
    #wrapper {
        font-size:.70em;}}
@media screen and (max-width: 472px){
    #wrapper {
        font-size:.60em;}}
@media screen and (max-width: 414px){
    #wrapper {
        font-size:.35em;}}
@media screen and (max-width: 400px){
    #wrapper {
        font-size:.25em;}}
    nav {
      display: table;
	  width: 75%;}
    
    nav ul {
      display: table-row;}
    
    nav li {
      display: table-cell;
      margin: 0;
      text-align: center;}

    
    nav li a {
      display: block;
      padding: 22px 19px;
      text-decoration: none;
      font-weight: bold;
      font-family: 'Open Sans', sans;
      font-size: 1em;
      color: #FFFFFF;
      background-color: rgb(148, 44, 32,.98);}

    nav li a:hover {
      background-color: rgb(230, 231, 231);
      display: block;
      color: #342F36;}
      
	.barlogo {
	float: left;
    width: 25%; 
    height: 60px;
    padding-bottom: 1px;}
  
h1 {
  font-family: 'Open Sans', sans;
  color: #2E2E2E;}

h1, h2, h3{
color: #342F36;}

main {
  margin-top: 75px;}

.formhead{
  background-color:black;}

p {
	font-family: 'Open Sans', sans;
	font-weight: 400;
  	color: #2E2E2E;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
  	font-size: .95em;
  	line-height: 1.45em;
}

body { 
  font-family: "open sans",  sans- serif;
  text-align: left;
  color: #342F36;
}

h1 {
	margin: 1em 0 0 0;
	text-align: Left;
	font-weight: 700;
  	font-size: 2.25em;
  	color:#952A20;
}

h3 {
  font-weight: 600;
}
/***************************
****************************
These are the styles for
the quotesm
****************************
***************************/
blockquote {
  width: 70%;
  text-align: left;
  margin: 0 auto;
  border-top: 4px solid  rgb(148, 44, 32);;
  padding-top: 1em;}
@media screen and (min-width: 600px){
  blockquote {
    max-width: 90%;
    padding: 1.2em;
    font-size: 20px;}}
@media screen and (min-width: 825px){
  blockquote {
    max-width: 80%;
    font-size: 28px;}
@media screen and (min-width: 475px){
  blockquote {
    max-width: 70%;
    font-size: px;}}

<<<<<<< HEAD
/***************************
****************************
These are the styles for
the tips.
****************************
***************************/
h1 {
  font-family: 'Open Sans', sans;
  color: #2E2E2E;
}
p {
	font-family: 'Open Sans', sans;
  color: #2E2E2E;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
  font-size: .95em;
  line-height: 1.45em;
}
h1 {
	margin: 1em 0 0 0;
	text-align: Left;
	padding-bottom: .5em;
}

#container {
    margin: 0 auto;
    width: 50%;
}

#accordion input {
	display: none;
}

#accordion label {
	background: #2E2E2E;
	border-radius: .25em;
	cursor: pointer;
	display: block;
	margin-bottom: .125em;
	padding: .25em 1em;
	z-index: 20;
  color: #E7E7E6;
  font-family: 'Open Sans', sans;
}

#accordion label:hover {
	background: #5E5D5E;
}

#accordion input:checked + label {
	background: #2E2E2E;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	color: #E7E7E6;
	margin-bottom: 0;
}

#accordion article {
	background: #E7E7E6;
	height:0px;
	overflow:hidden;
	z-index:10;
}

#accordion article p {
	padding: 30px 50px 30px 50px;
}

#accordion input:checked article {
}

#accordion input:checked ~ article {
	border-bottom-left-radius: .25em;
	border-bottom-right-radius: .25em;
	height: auto;
	margin-bottom: .125em;
}


=======
cite {
  margin-bottom: 2em;
  margin-left: 15%;
  margin-top: 1em;
  display: block;}
@media screen and (min-width: 600px){
  cite {
    margin-left: 5%;}}
@media screen and (min-width: 825px){
  cite {
    margin-left: 10%;}}
>>>>>>> origin/gh-pages

/***************************
****************************
These are the styles for
the form.
****************************
***************************/

h2 {
  color: #342F36;
  font-family: "Open Sans";
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-size: 1.75em;
  letter-spacing: 0.8px;
  text-align: left;
}

input[type="text"]{
margin-bottom: 10px;
margin-top: 10px;
width: 50%;
padding: 15px;
border:1px solid #342F36;
}

input, textarea {
	padding: 15px;
	max-width: 100%;
  border: 1px solid #342F36;
  max-height: 185px;
}

input[type="submit"]{
margin-bottom: 10px;
margin-top: 10px;
width: 20%;
background-color: #342F36;
padding: 15px 20px;
font-family: 'Open Sans', sans-serif;
font-size: 15px;
text-transform: uppercase;
color: #E7E7E6;
font-weight: 500;
border: 0;
display: table;
margin: 30px auto 0;
clear: both;
}

/***************************
****************************
These are the styles for
the footer.
****************************
***************************/
dt {
  text-align: center;
  color: #4D8BC9;
  text-transform: uppercase;
  font-size: .9em;
  font-weight: bold;
  margin-bottom: .5em;}

dd {
  text-align: center;
  margin-left: 0;
  margin-bottom: 1em;
  font-size: .9em;
  line-height: 1.5;
  color: #342F36;}

footer a {
  color: #342F36;}
  
footer {
  padding-bottom: 1em;
  margin-top: 30px;
  text-align: center;}

@media screen and (min-width: 800px){
  footer {
   max-width: 900px;
   text-align: center;
   margin-left: auto;
   margin-right: auto;}
  
.contact {
  float: left;
  width: 33.33%;
  padding-top: 1em;
  padding-bottom: 2em;}
  }
  
/***************************
****************************
These are the styles for
the big quote
****************************
***************************/
.quote {
  background-repeat: no-repeat;
  background-position: 0;
  position: relative;
  background-image: url("red_car.jpg");
}

p.quote {
  text-align: left;
  color: #E7E7E6;
  font-family: "open sans", sans-serif;
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-size: 5em;
  letter-spacing: 0.8px;
  font-weight: 800;
  padding: 120px;
}

